@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido actualizada, por favor <a asp-page="./Login">vuelva a ingresar</a>.
</p>
